@font-face {
	font-family: 'Dongle';
	src: url('Dongle.woff2') format('woff2');
	font-display: swap;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-10px);
	}
	50% {
		transform: translateX(10px);
	}
	75% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(0);
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100dvh;
	color: #fff;
	font-family: 'Dongle', sans-serif;
	flex-direction: column;
	text-align: center;
	overflow: clip;
}

.background {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -2;
}

h1 {
	font-size: 50px;
	color: #ccc;
}

.form-cont {
	display: flex;
	height: 44px;
	border-radius: 50px;
	border: #c960e5 2px solid;
	transition: box-shadow ease-in-out 100ms;
	background: #ffffff33;
	align-items: center;

	&:has(input:focus) {
		background: #ffffff3f;
		box-shadow: 0 0 15px 3px #c960e5;
	}
}

input {
	padding-inline: 20px;
	padding-block: 10px;
	background: none;
	border: none;
	font-size: 17px;
	color: #da70d6;

	&:focus {
		outline: none;
	}
}

button {
	cursor: pointer;
	border: none;
	background: none;
	transition: all ease-in-out 100ms;
	border-radius: 50px;
	aspect-ratio: 1;
	height: 60%;
	margin-right: 8px;

	&:hover {
		scale: 1.5;
		background-color: #c960e522;
	}
	img {
		aspect-ratio: 1;
		height: 100%;
	}
}
.invalid, .info {
	font-size: 19px;
	margin-top: 10px;
	color: gray;
}

.invalid {
	color: red;
}

#qr {
	position: relative;
	width: 200px;
	height: 0;
	top: 60dvh;
	transition: 500ms ease-in-out;
	border-radius: 20px;
	margin-top: 20px;
	box-shadow: #aaaaaaaa 0 0 20px 5px;
	border: #aaaaaadd 2px solid;
}

.shake {
	animation: shake 0.5s ease-in-out;
}